@use "../utilities/mixins";
@use "../utilities/variables";


.history-container {
  width: 180px;
  padding: 0 5px;

  .history-label {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 6px 0px;
    text-shadow: 1px 1px 2px gray;
    text-align: center;
    background-color: #eee;
  }

  .history-line {
    width: auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    background-color: #eee;
    border-bottom: 1px solid black;

    .step-line,
    .step-next-black,
    .step-next-white,
    .step-black {
      text-shadow: 1px 1px 2px gray;
    }
    .step-line {
      width: 40px;
      padding-left: 3px;
    }
    .step-white {
      width: 80px;
      color: white;
      text-shadow: 1px 1px 2px black;
    }

    .step-next-black,
    .step-next-white {
      border-radius: 25px 0;
      padding: 1px;
      text-align: center;
      animation-duration: 1.5s;
      animation-name: clignoter;
      animation-iteration-count: infinite;
      transition: none;
      width: 60px;
    }
    .step-next-white {
      color: white;
      animation-name: clignoter-white;
    }
  }
}

@keyframes clignoter {
  0%   { background-color: #eee;     border: 1px dashed gray; }
  40%   {background-color: deepskyblue;     border: 1px solid black; }
  100% { background-color: #eee; border: 1px dashed gray; }
}
@keyframes clignoter-white {
  0%   { background-color: #eee;     border: 1px dashed white; }
  40%   {background-color: deepskyblue;     border: 1px solid white; }
  100% { background-color: #eee; border: 1px dashed white; }
}